<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixian.mapper.BanjiMapper" >
  <resultMap id="BaseResultMap" type="com.lixian.model.Banji" >
    <id column="classid" property="classid" jdbcType="VARCHAR" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    classid, classname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from banji
    where classid = #{classid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from banji
    where classid = #{classid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lixian.model.Banji" >
    insert into banji (classid, classname)
    values (#{classid,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lixian.model.Banji" >
    insert into banji
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classid != null" >
        classid,
      </if>
      <if test="classname != null" >
        classname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classid != null" >
        #{classid,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lixian.model.Banji" >
    update banji
    <set >
      <if test="classname != null" >
        classname = #{classname,jdbcType=VARCHAR},
      </if>
    </set>
    where classid = #{classid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lixian.model.Banji" >
    update banji
    set classname = #{classname,jdbcType=VARCHAR}
    where classid = #{classid,jdbcType=VARCHAR}
  </update>
</mapper>