<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixian.mapper.KechengMapper">
  <resultMap id="BaseResultMap" type="com.lixian.model.Kecheng">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="teahcerid" jdbcType="VARCHAR" property="teahcerid" />
    <result column="classid" jdbcType="VARCHAR" property="classid" />
    <result column="stunum" jdbcType="INTEGER" property="stunum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, teahcerid, classid, stunum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kecheng
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kecheng
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lixian.model.Kecheng">
    insert into kecheng (id, name, teahcerid, 
      classid, stunum)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{teahcerid,jdbcType=VARCHAR}, 
      #{classid,jdbcType=VARCHAR}, #{stunum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lixian.model.Kecheng">
    insert into kecheng
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="teahcerid != null">
        teahcerid,
      </if>
      <if test="classid != null">
        classid,
      </if>
      <if test="stunum != null">
        stunum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="teahcerid != null">
        #{teahcerid,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=VARCHAR},
      </if>
      <if test="stunum != null">
        #{stunum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lixian.model.Kecheng">
    update kecheng
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="teahcerid != null">
        teahcerid = #{teahcerid,jdbcType=VARCHAR},
      </if>
      <if test="classid != null">
        classid = #{classid,jdbcType=VARCHAR},
      </if>
      <if test="stunum != null">
        stunum = #{stunum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lixian.model.Kecheng">
    update kecheng
    set name = #{name,jdbcType=VARCHAR},
      teahcerid = #{teahcerid,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=VARCHAR},
      stunum = #{stunum,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>